{% extends 'base.html.twig' %}

{% block main %}

    <div class="container">
        <h1 class="text-center">Modification d'Utilisateurs</h1>

        <br><br>

        <div class="text-center">
            <form method="post" action="../edit_users.php" class="">
                <input type="hidden" name="id" value="{{ id }}">
                <input type="text" name="firstname" class="form-control" value="{{ firstname }}"><br>
                <input type="text" name="name" class="form-control" value="{{ name }}"><br>
                <input type="text" name="username" class="form-control" value="{{ username }}"><br>
                <input type="text" name="num" class="form-control" value="{{ num }}"><br>
                <input type="text" name="password" class="form-control" value="{{ password }}"><br>
                <input type="submit" class="btn btn-outline-warning" value="Editer">
            </form>
        </div>
    </div>

{% endblock %}