{% extends 'base.html.twig' %}

{% block main %}

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="text-center" style="width: 100%">
                    <h1 class="text-center">Inscription à votre événement : {{ name }}</h1>
                    <label style="margin-bottom: 20px;">{{ date}}</label><br>
                    <img src="{{ lien }}">
                    <p>{{ description }}</p>
                </div>

                <div class="text-center" style="width: 100%; margin-top: 50px;">
                    <p>Vous êtes inscrit en tant que :</p>
                    <table class="table table-dark">
                        <thead>
                        <tr>
                            <th scope="col">{{ name2 }}</th>
                            <th scope="col">{{ firstname }}</th>
                            <th scope="col">{{ mail }}</th>
                            <th scope="col">{{ date }}</th>
                        </tr>
                        </thead>
                    </table>

                </div>
            </div>
        </div>
    </div>

{% endblock %}